@tailwind base;
@tailwind components;
@tailwind utilities;

/* Transition */
body {
  transition-property: opacity, background, transform, filter;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-transition {
  opacity: 0;
  background: black;
  transform: translateY(40px);
  filter: blur(12px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::selection {
  background-color: #4734f7; /* Tailwind's red-400 background */
  color: #ffffff; /* White text */
}
